@import 'colors';
@import 'mixins';
@import 'fonts';

body{
    font-family: $font-family;
    font-size: 14px;
    color: $black;
    text-transform: uppercase;
}

#pokedex{
    @include flexbox(flex, column, center, center);
}

.active {
    @include flexbox(flex, column, center, center);
    width: 90%;
}

//CASE
.red-topcase {
    @include flexbox(flex, column, center, center);
    background-color: $red;
    width: 335px;
    height: 680px;
    border: 15px inset $red;  
    border-radius: 30px 30px; 
}

.white-bezel {
    @include flexbox(flex, column, center, center);
    background-color: $white;
    width: 350px;
    height: 420px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

.circle-blacktop {
    @include flexbox(flex, column, center, center);
    background-color: $black;
    width: 165px;
    height: 165px;
    border: 10px solid $white;
    border-radius: 50%;
    position: absolute;
    top: 70px;  
}

.circle-blackbottom {
    @include flexbox(flex, column, center, center);
    background-color: $black;
    width: 165px;
    height: 165px;
    border: 10px solid $white;
    border-radius: 50%;
    position: absolute;
    top: 450px;   
}

.screen{
    background-color: $light-blue;
    width: 325px;
    height: 400px;
    border-left: 8px solid gray;
    border-right: 0.5px solid black;
    box-shadow: inset 2px 8px 18px -12px; 
    position: absolute;
}

.circle-bluetop {
    @include flexbox(flex, column, center, center);
    background-color: $light-blue;
    width: 90px;
    height: 90px;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: 23px;
}

.circle-bluebottom {
    @include flexbox(flex, column, center, center);
    background-color: $light-blue;
    width: 90px;
    height: 90px;
    border: 7px solid black;
    border-radius: 50%;
    position: absolute;
    top: 30px;  
}

//LOGIN MENU
#login-menu {
    @include flexbox(flex, column, center, center);
    width: 250px;
    
    .user-profile {
        @include flexbox(flex, row, center, space-between);
        margin: 5px;

        .user-pic{
            width: 30%;
            height: auto;
        }
    }
}

//NAV BAR - DROPDOWN
#navigation-bar{
    background-color: #333A40;
    height: 30px;
    color: white;
    @include flexbox(flex, row, center, center);
}

#user{
    text-align: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    color: black;
    position: absolute;
    left: -75px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

//trainer
.new-trainer {
    @include flexbox(flex, column, center, center);
    justify-content: center;
    width: 250px;
    font-size: 90%;
}

.trainer-facts{
    @include flexbox (flex, column, flex-start, center);
}

.trainer-pokemon {
    @include flexbox(flex, row, flex-start, flex-start);
    flex-flow: row wrap;
    width: 300px;
    position: relative;
    left: 12px;
    height: 280px;
    overflow: scroll;
}

.pokeball{
    @include flexbox(flex, column, center, center);
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
    margin: 5px;
    width: 90px;
    height: 110px;
    font-size: 80%;
}

//SEARCH
#search {
    width: 150px;
    font-size: 10px;
}

.poke-results {
    @include flexbox(flex, column, center, center);
    font-size: 85%;
    width: 110%
}

#poke-search{
    @include flexbox(flex, row, none, center);
}

form {
    display: flex;
}

.top-div{
    @include flexbox(flex, row, center, center);
}

.back-button{
    width: 50%;
    height: auto;
}

.add-pokemon {
    @include flexbox(flex, row, center, space-evenly);
}

.add-button{
    width: 10%;
    height: auto;
}

.poke-facts{
    @include flexbox(flex, column, center, center);
}

.pokemon-pic{
    max-width: 160px;
    width:160%;
    height: auto; 
}

.poke-stats{
    text-align: center;
}

.pokestats{
    @include flexbox(flex, row, center, space-between);
    text-align: center;
    width: 110%;
}

.pokeAbils{
    width: 110%;
}

