@import 'colors';
@import 'mixins';
@import 'fonts';

body{
    font-family: $font-family;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
}

#container{
    font-size: 30px;
}

// login
#login-menu {
    @include flexbox(flex, column, center, center);
    justify-content: center;
    width: 250px;
    
    .user-profile {
        @include flexbox(flex, row, center, none);
        justify-content: space-between;
        margin: 5px;

            .user-pic{
                width: 30%;
                height: auto;
            }
    }
}

.add-button{
    width: 10%;
    height: auto;
}
#user{
    text-align: right;
}

//DROPDOWN
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    color: black;
    position: absolute;
    left: -75px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

//SEARCH
#poke-search{
    @include flexbox(flex, row, none, center);
}

#search {
    width: 150px;
    font-size: 10px;
}

.poke-results {
    @include flexbox(flex, column, center, center);
    font-size: 85%;
    width: 110%
}

.poke-facts{
    @include flexbox(flex, column, center, center);
}

.pokemon-pic{
    max-width: 160px;
    width:160%;
    height: auto; 
}

.poke-stats{
    text-align: center;
}

.pokestats{
    @include flexbox(flex, row, center, space-between);
    text-align: center;
    width: 110%;
}

.pokeAbils{
    width: 110%;
}

//trainer
.new-trainer {
    @include flexbox(flex, column, center, center);
    justify-content: center;
    width: 250px;
    font-size: 90%;
}

.trainer-facts{
    @include flexbox (flex, column, flex-start, center);
}
.trainer-pokemon {
    @include flexbox(flex, row, center, flex-start);
    flex-flow: row wrap;
    width: 300px;
    position: relative;
    left: 12px;
}

.pokeball{
    @include flexbox(flex, column, center, center);
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
    margin: 5px;
    width: 90px;
    height: 110px;
    font-size: 80%;
}

#pokedex{
    @include flexbox(flex, column, center, center);
}

.new-button{
    border: 1px solid black;
    background-color: lightgray;
}

//CASE
.red-topcase{
    @include flexbox(flex, column, center, center);
    background-color: $red;
    width: 335px;
    height: 680px;
    border-radius: 30px 30px;
    border: 15px inset $red;
    
}

.white-bezel {
    @include flexbox(flex, column, center, center);
    background-color: $white;
    width: 350px;
    height: 420px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    // border-left: 2px solid gray;
}

.circle-blacktop {
    @include flexbox(flex, column, center, center);
    background-color: $black;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    border: 10px solid $white;   
}

.circle-blackbottom {
    @include flexbox(flex, column, center, center);
    background-color: $black;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    position: absolute;
    top: 450px;   
    border: 10px solid $white; 
}

.screen{
    background-color: $light-blue;
    width: 325px;
    height: 400px;
    border-left: 8px solid gray;
    position: absolute;
    box-shadow: inset 2px 8px 18px -12px; 
    // border-left: 1px solid black;
    border-right: 0.5px solid black;
}

.circle-bluetop {
    @include flexbox(flex, column, center, center);
    background-color: $light-blue;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    border: 5px solid black;
}

.circle-bluebottom {
    @include flexbox(flex, column, center, center);
    background-color: $light-blue;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 30px;  
    border: 7px solid black;
}

.active {
    @include flexbox(flex, column, center, center);
    width: 90%;
}

#navigation-bar{
    background-color: #333A40;
    height: 30px;
    color: white;
    @include flexbox(flex, row, center, center);
}

.poke-search{
    @include flexbox (flex, row, center, center);

}