@import './partials/colors';
@import './partials/mixins';
@import './partials/fonts';
@import './partials/variables';

body{
    background : {
        image: url('../assets/images/pokemonbg.png');
        position: center;
        repeat: no-repeat;
    }
    font-family: $font-family;
    height: 100vh;
    text-transform: uppercase;
}

.flex-col{
    @include flexbox(flex, column, center);
}

.flex-row{
    @include flexbox(flex, row, center);
}

.jc-center {
    justify-content: center;
}

.jc-start{
    justify-content: flex-start;
}

.jc-end{
    justify-content: flex-end;
}

.jc-sb{
    justify-content: space-between;
}

//CASE
.case {
    width: 100%;
    height: 24vh;
    position: relative;
    border: 15px inset; 
    z-index: 1;
}

.poke-top{
    background: red;
    border-color: $red;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 0;
    justify-content: flex-end;
}

.poke-bottom{
    background: white;
    border-color: gray;
    border-radius: 0px 0px 30px 30px; 
    border-top: 0;
    justify-content: flex-start;
    top: 24vh;
}

.circle-black {
    @include box(black, $large-circle, $large-circle/2);
    border: 10px solid white;
}

.circle-blue {
    @include box($light-blue, $small-circle, $small-circle/2);
    border: 13px inset white;
}

.large-top {
    border-top-left-radius: $large-circle;
    border-top-right-radius: $large-circle;
    border-bottom: 0;
    justify-content: flex-end;
}

.large-bottom {
    border-bottom-left-radius: $large-circle;
    border-bottom-right-radius: $large-circle;
    border-top: 0;
    justify-content: flex-start;
}

.small-top {
    border-top-left-radius: $small-circle;
    border-top-right-radius: $small-circle;
    border-bottom: 0;
}

.small-bottom {
    border-bottom-left-radius: $small-circle;
    border-bottom-right-radius: $small-circle;
    border-top: 0;
}

.wrapper {
    width: 90vw;
    max-width: 900px;
    min-width: 350px;
    margin: 0 auto;
    justify-content: center;
}

.screen{
    @include box(rgba(226, 245, 252,0.7), 100%, 45vh);
    border-right: 1vw solid black;
    border-bottom: 1vh solid white;
    border-left: 15px solid gray;
    padding: 1vh 1vw;
}

#main-container{
    padding: 1vh 2vw;
    font-size: 0.8em;
    justify-content: center;
}

.opaque-div {
    background: rgba(255,255,255,0.5);
    border-radius: 10px 10px 10px 10px;
    margin: 10px 5px 5px 5px;
}

//NAV BAR
#navigation-bar{
    @include box(#333A40, 100%, 6vh);
    border-top: 1vh solid white;
    color: white;
    padding-left: 2vw;
    padding-right: 1vw;
    justify-content: center;
} 

#nav-search{
    width: 30vw;
    form {
        display: flex;
        align-items: center;
    }
    
    .search-submit{
        padding-left: 1vw;
        background-color: transparent;
        color: white;
        border: none;
    }
}

#search-input {
    width: 160px;
    height: 3vh;
    font-size: 0.7em;
}

#user {
    text-align: right;
    cursor: pointer;
}

//NAV BAR - DROPDOWN
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    color: black;
    left: -82px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

//LOGIN MENU
#top-btn, #bottom-btn, #login-menu, .back-button, .button-div {
    cursor: pointer;
} 

#user-avatar {
    height: 10vh;
}

//PROFILE
.trainer-pokemon {
    @include flexbox(flex, row, flex-start);
    flex-flow: row wrap;
    height: 35vh;
    overflow: auto;
}

.pokeball{
    @include box(rgba(255,255,255,0.5), 110px, 110px);
    border-radius: 10px;
    margin: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

//SEARCH
#search-results {
    overflow: auto;
    padding: 10px;
    width: 100%;
}

.nav-div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow-div {
    color: gray;
    font-size: .9em;
}

#add-button {
    border-radius: 7px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 200px;
}

.add-button {
    background-color: lightgray;
    border: 3px inset darkgray;
    box-shadow: 1px 2px 2px 2px #333A40;
}

.caught-button {
    background-color: #333A40;
    border: 3px outset lightgray;
    color: lightgray;
}

.pokemon-img{
    max-width: 75vw;
}

.poke-type {
    border-radius: 7px;
    color: white;
    padding: 0 5px;
    text-align: center;
}

.poke-stats {
    margin: 20px auto;
    width: 85%;
}

.stats-num {
    text-align: center;
    width: 40px;
}

.stats-info {
    padding: 5px 0;
    width: 83%;
}

.stats-calc {
    background: cornflowerblue;
    border-radius: 8px;
    box-shadow: inset 1px 1px 3px 6px midnightblue;
    height: 16px;
}

.stats-bar {
    border-radius: 8px;
    box-shadow: inset 1px 1px 3px #666;
    width: 80%;
}

.poke-abil {
    margin-top: 20px;
}

@media (min-width: 768px){
    body{
        background : {
            position: initial;
            size: initial;
        }
    }
}

// modal
#alert-modal {
    position: absolute;
    top: 30%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 2px 2px #333A40;
    background-color: white;
    z-index: 1;
    text-align: center;
}
