@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
body {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active {
  width: 90%;
}

.red-case {
  background-color: #E40031;
  width: 90vw;
  height: 100vh;
  border: 15px inset #E40031;
  border-radius: 30px 30px;
}

.white-bezel {
  background-color: white;
  width: 100vw;
  height: 63vh;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
}

.circle-black {
  background-color: black;
  width: 165px;
  height: 165px;
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
}

.circle-blue {
  background-color: #E2F5FC;
  width: 90px;
  height: 90px;
  border: 5px solid black;
  border-radius: 50%;
  position: absolute;
}

.screen {
  background-color: #E2F5FC;
  width: 90vw;
  height: 60vh;
  border-left: 15px solid gray;
  border-right: 0.5px solid black;
  -webkit-box-shadow: inset 2px 8px 18px -12px;
          box-shadow: inset 2px 8px 18px -12px;
  position: absolute;
}

.circle-blacktop {
  top: 10vh;
}

.circle-blackbottom {
  top: 67vh;
}

.circle-bluetop {
  top: 3vh;
}

.circle-bluebottom {
  top: 4.5vh;
}

#login-menu {
  width: 250px;
}

#login-menu .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
}

#login-menu .user-profile .user-pic {
  width: 30%;
  height: auto;
}

#navigation-bar {
  background-color: #333A40;
  width: 90vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#user {
  text-align: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  color: black;
  position: absolute;
  left: -75px;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.new-trainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  font-size: 90%;
}

.trainer-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trainer-pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  width: 300px;
  height: 280px;
  position: relative;
  left: 12px;
  overflow: scroll;
}

.pokeball {
  background-color: white;
  width: 90px;
  height: 110px;
  border: 1px solid gray;
  border-radius: 10px;
  opacity: 0.95;
  margin: 5px;
  font-size: 80%;
}

#search {
  width: 150px;
  font-size: 10px;
}

.poke-results {
  font-size: 85%;
  width: 110%;
}

#poke-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-button {
  width: 50%;
  height: auto;
}

.add-pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.add-button {
  width: 10%;
  height: auto;
}

.pokemon-pic {
  max-width: 160px;
  width: 160%;
  height: auto;
}

.poke-stats {
  text-align: center;
}

.pokestats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 110%;
}

.pokeAbils {
  width: 110%;
}
/*# sourceMappingURL=style.css.map */