@import './partials/colors';
@import './partials/mixins';
@import './partials/fonts';
@import './partials/variables';

body{
    background : {
        image: url('../images/pokemonbg.png');
        position: center;
        repeat: no-repeat;
    }
    font-family: $font-family;
    text-transform: uppercase;
}

.flex-col{
    @include flexbox(flex, column, center);
}

.flex-row{
    @include flexbox(flex, row, center);
}

.jc-center {
    justify-content: center;
}

.jc-start{
    justify-content: flex-start;
}

.jc-end{
    justify-content: flex-end;
}

.jc-sb{
    justify-content: space-between;
}

.opaque-div {
    background: rgba(255,255,255,0.5);
    border-radius: 10px 10px 10px 10px;
    margin: 15px 5px 5px 5px;
}

//CASE
.case {
    width: 100%;
    height: 24vh;
    position: relative;
    border: 15px inset; 
    z-index: 1;
}

.poke-top{
    background: red;
    border-color: $red;
    border-radius: 30px 30px 0px 0px;
    border-bottom: 0;
    justify-content: flex-end;
}

.poke-bottom{
    background: white;
    border-color: gray;
    border-radius: 0px 0px 30px 30px; 
    border-top: 0;
    justify-content: flex-start;
    top: 24vh;
}

.circle-black {
    @include box(black, $large-circle, $large-circle/2);
    border: 10px solid white;
}

.circle-blue {
    @include box($light-blue, $small-circle, $small-circle/2);
    border: 13px inset white;
}

.large-top {
    border-top-left-radius: $large-circle;
    border-top-right-radius: $large-circle;
    border-bottom: 0;
    justify-content: flex-end;
}

.wrapper {
    width: 90vw;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}

.screen{
    @include box(rgba(226, 245, 252,0.7), 100%, 45vh);
    border-right: 1vw solid black;
    border-bottom: 1vh solid white;
    border-left: 15px solid gray;
    padding: 1vh 1vw;
}

#main-container{
    width: 95vw;
    padding: 1vh 2vw;
    font-size: 0.8em;
    justify-content: center;
}

.large-bottom {
    border-bottom-left-radius: $large-circle;
    border-bottom-right-radius: $large-circle;
    border-top: 0;
    justify-content: flex-start;
}

.small-top {
    border-top-left-radius: $small-circle;
    border-top-right-radius: $small-circle;
    border-bottom: 0;
}

.small-bottom {
    border-bottom-left-radius: $small-circle;
    border-bottom-right-radius: $small-circle;
    border-top: 0;
}

//NAV BAR
#navigation-bar{
    @include box(#333A40, 100%, 6vh);
    border-top: 1vh solid white;
    color: white;
    padding-left: 2vw;
    padding-right: 1vw;
    justify-content: center;
} 

#nav-search{
    width: 30vw;
    form {
        display: flex;
        align-items: center;
    }
    
    .search-submit{
        padding-left: 1vw;
        background-color: transparent;
        color: white;
        border: none;
    }
}

#search-input {
    width: 160px;
    height: 3vh;
    font-size: 0.7em;
}

#user {
    text-align: right;
    cursor: pointer;
}

//NAV BAR - DROPDOWN
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    color: black;
    left: -82px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

//LOGIN MENU
#top-btn, #bottom-btn, #login-menu, .back-button, .button-div {
    cursor: pointer;
} 

#user-avatar {
    height: 10vh;
}

//PROFILE
.trainer-pokemon {
    @include flexbox(flex, row, flex-start);
    flex-flow: row wrap;
    height: 33vh;
    overflow: scroll;
}

.pokeball{
    @include box(rgba(255,255,255,0.5), 110px, 110px);
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

//SEARCH
.back-button{
    font-size: 2em;
}

.button-div {
    background-color: lightgray;
    border: 3px inset darkgray;
    border-radius: 7px;
    height: 4vh;
    padding: 5px;
    box-shadow: 1px 2px 2px 2px #333A40;
}

.pokemon-img{
    max-width: 75vw;
}

.poke-stats{
    justify-content: space-evenly;
    text-align: left;
    width: 80%;
}

.poke-abil{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px){
    body{
        background : {
            position: initial;
            size: initial;
        }
    }
}