@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
body {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.red-case {
  background-color: #E40031;
  width: 90vw;
  height: 100vh;
  border: 15px inset #E40031;
  border-radius: 30px 30px;
}

.circle-black {
  background-color: black;
  width: 160px;
  height: 80px;
  border: 10px solid white;
}

.circle-blue {
  background-color: #E2F5FC;
  width: 80px;
  height: 40px;
  border: 5px solid none;
}

.screen {
  background-color: #E2F5FC;
  width: 90vw;
  height: 55vh;
  border-right: 1vw solid black;
  border-bottom: 1vh solid white;
  border-left: 15px solid gray;
  padding: 1vh 1vw;
}

.large-top {
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-bottom: 0;
}

.large-bottom {
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  border-top: 0;
}

.small-top {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.small-bottom {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

#main-container {
  width: 95vw;
  padding: 1vh 2vw;
  font-size: 0.8em;
}

#navigation-bar {
  background-color: #333A40;
  width: 90vw;
  height: 6vh;
  border-top: 1vh solid white;
  color: white;
  width: 90vw;
  padding-left: 2vw;
  padding-right: 1vw;
}

#poke-search {
  width: 30vw;
}

#poke-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#poke-search .search-submit {
  padding-left: 1vw;
  background-color: transparent;
  color: white;
  border: none;
}

#search {
  width: 160px;
  height: 3vh;
  font-size: 0.7em;
}

#user {
  text-align: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  display: none;
  color: black;
  left: -60px;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user-pic {
  height: 10vh;
}

.trainer-pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  height: 43vh;
  overflow: scroll;
}

.pokeball {
  background-color: white;
  width: 110px;
  height: 110px;
  border: 1px solid gray;
  border-radius: 10px;
  opacity: 0.95;
  margin: 5px;
  font-size: 0.8em;
}

.back-button {
  font-size: 2em;
}

.button-div {
  background-color: lightgray;
  border: 3px inset darkgray;
  border-radius: 7px;
  height: 4vh;
  padding: 5px;
  -webkit-box-shadow: 1px 2px 2px 2px #333A40;
          box-shadow: 1px 2px 2px 2px #333A40;
}

.pokemon-img {
  max-width: 75vw;
}

.poke-stats {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 60vw;
}

.poke-abil {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */